<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>csj</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>HelloWorld</servlet-name>
  	<servlet-class>c2.HelloWorld</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>HelloWorld</servlet-name>
  	<url-pattern>/c2/helloworld</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ServletTemplate</servlet-name>
  	<servlet-class>c3.ServletTemplate</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ServletTemplate</servlet-name>
  	<url-pattern>/c3/servlettemplate</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>HelloServlet3</servlet-name>
  	<servlet-class>c3.HelloServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>HelloServlet3</servlet-name>
  	<url-pattern>/c3/helloservlet3</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>LotteryNumbers</servlet-name>
  	<servlet-class>c3.LotteryNumbers</servlet-class>
  	<init-param>
  		<param-name>address</param-name>
  		<param-value>127.0.0.1:8080</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LotteryNumbers</servlet-name>
  	<url-pattern>/c3/lotterynumbers</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>UserIDs</servlet-name>
  	<servlet-class>c3.UserIDs</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserIDs</servlet-name>
  	<url-pattern>/c3/userids</url-pattern>
  </servlet-mapping>
  
</web-app>