<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>csj</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>HelloWorld</servlet-name>
  	<servlet-class>c2.HelloWorld</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>HelloWorld</servlet-name>
  	<url-pattern>/c2/helloworld</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ServletTemplate</servlet-name>
  	<servlet-class>c3.ServletTemplate</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ServletTemplate</servlet-name>
  	<url-pattern>/c3/servlettemplate</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>HelloServlet3</servlet-name>
  	<servlet-class>c3.HelloServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>HelloServlet3</servlet-name>
  	<url-pattern>/c3/helloservlet3</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>LotteryNumbers</servlet-name>
  	<servlet-class>c3.LotteryNumbers</servlet-class>
  	<init-param>
  		<param-name>address</param-name>
  		<param-value>127.0.0.1:8080</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LotteryNumbers</servlet-name>
  	<url-pattern>/c3/lotterynumbers</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>UserIDs</servlet-name>
  	<servlet-class>c3.UserIDs</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserIDs</servlet-name>
  	<url-pattern>/c3/userids</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ThreeParams</servlet-name>
  	<servlet-class>c4.ThreeParams</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ThreeParams</servlet-name>
  	<url-pattern>/c4/threeparams</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ShowParameters</servlet-name>
  	<servlet-class>c4.ShowParameters</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ShowParameters</servlet-name>
  	<url-pattern>/c4/showparameters</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>SubmitResume</servlet-name>
  	<servlet-class>c4.SubmitResume</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SubmitResume</servlet-name>
  	<url-pattern>/c4/submitresume</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>BadCodeServlet</servlet-name>
  	<servlet-class>c4.BadCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>BadCodeServlet</servlet-name>
  	<url-pattern>/c4/badcodeservlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>SubmitInsuranceInfo</servlet-name>
  	<servlet-class>c4.SubmitInsuranceInfo</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SubmitInsuranceInfo</servlet-name>
  	<url-pattern>/c4/submitinsuranceinfo</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>BidServlet</servlet-name>
  	<servlet-class>c4.BidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>BidServlet</servlet-name>
  	<url-pattern>/c4/bidservlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ShowRequestHeaders</servlet-name>
  	<servlet-class>c5.ShowRequestHeaders</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ShowRequestHeaders</servlet-name>
  	<url-pattern>/c5/showrequestheaders</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>LongServlet</servlet-name>
  	<servlet-class>c5.LongServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LongServlet</servlet-name>
  	<url-pattern>/c5/longservlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>BrowserInsult</servlet-name>
  	<servlet-class>c5.BrowserInsult</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>BrowserInsult</servlet-name>
  	<url-pattern>/c5/browserinsult</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>WrongDestination</servlet-name>
  	<servlet-class>c6.WrongDestination</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>WrongDestination</servlet-name>
  	<url-pattern>/c6/wrongdestination</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>SearchEngines</servlet-name>
  	<servlet-class>c6.SearchEngines</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SearchEngines</servlet-name>
  	<url-pattern>/c6/searchengines</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>SearchEngineForm</servlet-name>
  	<servlet-class>c6.SearchEngineForm</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SearchEngineForm</servlet-name>
  	<url-pattern>/c6/searchengineform</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ApplesAndOranges</servlet-name>
  	<servlet-class>c7.ApplesAndOranges</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ApplesAndOranges</servlet-name>
  	<url-pattern>/c7/applesandoranges</url-pattern>
  </servlet-mapping>
  
</web-app>