<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>csj</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>HelloWorld</servlet-name>
  	<servlet-class>c2.HelloWorld</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>HelloWorld</servlet-name>
  	<url-pattern>/c2/helloworld</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ServletTemplate</servlet-name>
  	<servlet-class>c3.ServletTemplate</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ServletTemplate</servlet-name>
  	<url-pattern>/c3/servlettemplate</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>HelloServlet3</servlet-name>
  	<servlet-class>c3.HelloServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>HelloServlet3</servlet-name>
  	<url-pattern>/c3/helloservlet3</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>LotteryNumbers</servlet-name>
  	<servlet-class>c3.LotteryNumbers</servlet-class>
  	<init-param>
  		<param-name>address</param-name>
  		<param-value>127.0.0.1:8080</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LotteryNumbers</servlet-name>
  	<url-pattern>/c3/lotterynumbers</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>UserIDs</servlet-name>
  	<servlet-class>c3.UserIDs</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserIDs</servlet-name>
  	<url-pattern>/c3/userids</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ThreeParams</servlet-name>
  	<servlet-class>c4.ThreeParams</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ThreeParams</servlet-name>
  	<url-pattern>/c4/threeparams</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ShowParameters</servlet-name>
  	<servlet-class>c4.ShowParameters</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ShowParameters</servlet-name>
  	<url-pattern>/c4/showparameters</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>SubmitResume</servlet-name>
  	<servlet-class>c4.SubmitResume</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SubmitResume</servlet-name>
  	<url-pattern>/c4/submitresume</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>BadCodeServlet</servlet-name>
  	<servlet-class>c4.BadCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>BadCodeServlet</servlet-name>
  	<url-pattern>/c4/badcodeservlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>SubmitInsuranceInfo</servlet-name>
  	<servlet-class>c4.SubmitInsuranceInfo</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SubmitInsuranceInfo</servlet-name>
  	<url-pattern>/c4/submitinsuranceinfo</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>BidServlet</servlet-name>
  	<servlet-class>c4.BidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>BidServlet</servlet-name>
  	<url-pattern>/c4/bidservlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ShowRequestHeaders</servlet-name>
  	<servlet-class>c5.ShowRequestHeaders</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ShowRequestHeaders</servlet-name>
  	<url-pattern>/c5/showrequestheaders</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>LongServlet</servlet-name>
  	<servlet-class>c5.LongServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LongServlet</servlet-name>
  	<url-pattern>/c5/longservlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>BrowserInsult</servlet-name>
  	<servlet-class>c5.BrowserInsult</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>BrowserInsult</servlet-name>
  	<url-pattern>/c5/browserinsult</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>WrongDestination</servlet-name>
  	<servlet-class>c6.WrongDestination</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>WrongDestination</servlet-name>
  	<url-pattern>/c6/wrongdestination</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>SearchEngines</servlet-name>
  	<servlet-class>c6.SearchEngines</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SearchEngines</servlet-name>
  	<url-pattern>/c6/searchengines</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>SearchEngineForm</servlet-name>
  	<servlet-class>c6.SearchEngineForm</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SearchEngineForm</servlet-name>
  	<url-pattern>/c6/searchengineform</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ApplesAndOranges</servlet-name>
  	<servlet-class>c7.ApplesAndOranges</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ApplesAndOranges</servlet-name>
  	<url-pattern>/c7/applesandoranges</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>PrimeNumberServlet</servlet-name>
  	<servlet-class>c7.PrimeNumberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PrimeNumberServlet</servlet-name>
  	<url-pattern>/c7/primenumberservlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>RepeatVisitor</servlet-name>
  	<servlet-class>c8.RepeatVisitor</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RepeatVisitor</servlet-name>
  	<url-pattern>/c8/repeatvisitor</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>CookieTest</servlet-name>
  	<servlet-class>c8.CookieTest</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CookieTest</servlet-name>
  	<url-pattern>/c8/cookietest</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ClientAccessCount</servlet-name>
  	<servlet-class>c8.ClientAccessCount</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ClientAccessCount</servlet-name>
  	<url-pattern>/c8/clientaccesscount</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>RegistrationForm</servlet-name>
  	<servlet-class>c8.RegistrationForm</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RegistrationForm</servlet-name>
  	<url-pattern>/c8/registrationform</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>RegistrationServlet</servlet-name>
  	<servlet-class>c8.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RegistrationServlet</servlet-name>
  	<url-pattern>/c8/registrationservlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ShowSession</servlet-name>
  	<servlet-class>c9.ShowSession</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ShowSession</servlet-name>
  	<url-pattern>/c9/showsession</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ShowItems</servlet-name>
  	<servlet-class>c9.ShowItems</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ShowItems</servlet-name>
  	<url-pattern>/c9/showitems</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>KidsBooksPage</servlet-name>
  	<servlet-class>c9.KidsBooksPage</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>KidsBooksPage</servlet-name>
  	<url-pattern>/c9/kidsbookspage</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>TechBooksPage</servlet-name>
  	<servlet-class>c9.TechBooksPage</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>TechBooksPage</servlet-name>
  	<url-pattern>/c9/techbookspage</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>OrderPage</servlet-name>
  	<servlet-class>c9.OrderPage</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>OrderPage</servlet-name>
  	<url-pattern>/c9/orderpage</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ShowBalance</servlet-name>
  	<servlet-class>c15.ShowBalance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowBalance</servlet-name>
    <url-pattern>/c15/showbalance</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>NorthwindServlet</servlet-name>
  	<servlet-class>c17.NorthwindServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>NorthwindServlet</servlet-name>
  	<url-pattern>/c17/northwindservlet</url-pattern>
  </servlet-mapping>
  
  <!-- Volume 2 -->
  
  <servlet>
  	<servlet-name>v2_TestServlet1</servlet-name>
  	<servlet-class>v2c2.TestServlet1</servlet-class>
  	<init-param>
  	  <param-name>firstName</param-name>
  	  <param-value>zhao</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>v2_TestServlet1</servlet-name>
  	<url-pattern>/v2c2/TestServlet1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>v2_TestServlet1</servlet-name>
  	<url-pattern>/v2c2/TestServlet1/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>v2_TestServlet1</servlet-name>
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  <context-param>
  	<param-name>support-email</param-name>
  	<param-value>zhao@example.com</param-value>
  </context-param>
  
  <filter>
  	<filter-name>Reporter</filter-name>
  	<filter-class>v2c2.ReportFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>Reporter</filter-name>
  	<servlet-name>v2_TestServlet1</servlet-name>
  </filter-mapping>

  <error-page>
  	<error-code>404</error-code>
  	<location>/WEB-INF/errorp/NotFound.jsp</location>
  </error-page>
  
  <session-config>
  	<session-timeout>180</session-timeout>
  </session-config>
  
  <mime-mapping>
  	<extension>foo</extension>
  	<mime-type>application/x-fubar</mime-type>
  </mime-mapping>

</web-app>